[submodule "buildroot"]
	path = repo/buildroot
	url = https://github.com/buildroot/buildroot.git
[submodule "linux"]
	path = repo/linux
	url = https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git
[submodule "riscv-pk"]
	path = repo/riscv-pk
	url = https://github.com/riscv/riscv-pk
[submodule "riscv-isa-sim"]
	path = repo/riscv-isa-sim
	url = https://github.com/riscv/riscv-isa-sim
[submodule "opensbi"]
	path = repo/opensbi
	url = https://github.com/riscv-software-src/opensbi
[submodule "repo/riscv-openocd"]
	path = repo/riscv-openocd
	url = https://github.com/riscv-collab/riscv-openocd.git
[submodule "repo/qemu"]
	path = repo/qemu
	url = https://github.com/qemu/qemu.git
[submodule "repo/llvm-project"]
	path = repo/llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "repo/freebsd"]
	path = repo/freebsd
	url = https://github.com/freebsd/freebsd-src.git
[submodule "benchmark/lmbench"]
	path = benchmark/lmbench
	url = https://github.com/SigRISCV/lmbench.git
[submodule "benchmark/unixbench"]
	path = benchmark/unixbench
	url = https://github.com/SigRISCV/unixbench.git
[submodule "repo/gdb"]
	path = repo/gdb
	url = https://sourceware.org/git/binutils-gdb.git
[submodule "repo/cross/gmp"]
	path = repo/cross/gmp
	url = https://github.com/gmp-mirror/gmp.git
[submodule "repo/cross/mpfr"]
	path = repo/cross/mpfr
	url = https://gitlab.inria.fr/mpfr/mpfr.git
[submodule "repo/riscv-gnu-toolchain"]
	path = repo/riscv-gnu-toolchain
	url = https://github.com/riscv-collab/riscv-gnu-toolchain.git
